<a href="https://colab.research.google.com/github/Jigyasa-arch/PythonPractice/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import const

In [ ]:
print(const.PI)

3.14

In [ ]:
PI=34

In [ ]:
print(const.PI)

3.14

In [ ]:
print(PI)

34

#### Comments

In [1]:
# This is single line comments
''' this is first sentence
this is second sentence
this is third sentence'''

' this is first sentence\nthis is second sentence\nthis is third sentence'

In [9]:
# Variables
a=1
b=2
print(a+b)

3

In [11]:
name="yuvraj"
age=21
is_Student= True
print(name)
print(age)
print(is_Student)

yuvraj
21
True

In [12]:
print(type(name))
print(type(age))
print(type(is_Student))

<class 'str'>
<class 'int'>
<class 'bool'>

In [ ]:
#swap the values of two variables without using two variables
x=5
y=10
x,y=y,x
print(x)
print(y)

10
5

##### What will be the result of the following expression: 5 + 3 * 2?

In [ ]:
# According to operator precedence, multiplication happens first
# 3 * 2 = 6
# 5 + 6 = 11
print(5 + 3 * 2)  # Output: 11

11

#####  What will be the output of 10 // 3 and 10 % 3?

In [ ]:
# Integer division and modulo
print(10 // 3)  # Output: 3 (quotient)
print(10 % 3)   # Output: 1 (remainder)

3
1

##### What will be the output of 10 // 3 and 10 % 3?

In [ ]:
# Integer division and modulo
print(10 // 3)  # Output: 3 (quotient)
print(10 % 3)   # Output: 1 (remainder)

3
1

##### Use assignment operators to increment a variable by 10.

In [13]:
# x = 20
# Add 10 using +=
x = 20
x += 10    #x=x+10
print(x)  # Output: 30

30

##### Compare two numbers and print whether they are equal.

In [14]:
# a = 7, b = 7
# Check if a == b
a = 7
b = 5
print(a == b)  # Output: True

False

##### Use bitwise AND and OR on two numbers: 5 and 3

In [ ]:
a = 5      # 0101
b = 3      # 0011

print(a & b)  # Output: 1 (0001)
print(a | b)  # Output: 7 (0111)

1
7

##### Use identity operator to compare two variables.

In [16]:
# x = [1, 2], y = x, z = [1, 2]
# Check x is y and x is z
x = [1, 2]
y = x
z = [1, 2]

print(x is y)  # True
print(x is z)  # False (different object in memory)

True
False

In [17]:
y[0]=4

In [18]:
y

[4, 2]

In [ ]:
print(x)

[4, 2]

In [19]:
id(x)

138827583468864

In [20]:
id(y)

138827583468864

In [21]:
id(z)

138828431562368

In [ ]:
type(y)

list

In [ ]:
print(y)

[1, 2]

##### Use logical operators with boolean values.

In [23]:
a = True
b = False

print(a and b)  # False
print(a or b)   # True
print(not b)    # True

False
True
True

##### Predict the output:

In [24]:
x = 10
y = 20
print(x != y and x < y)

True

#### Data types
###### Data types are classifications of data that tell a computer how to store and interpret information. They determine the kind of data a variable can hold, the operations that can be performed on it, and how the data is represented in memory.

In [25]:
name = "yuvraj 32632 @#$%" # string
age=21   # integer data type
fees= 236.64 # float data type
complex= 12+0j
list= [1,2,"yuvraj",2.4,['a','b','c']]
tuple= (1,2,3,4)
set= {1,2,3,4,5}
dict= {"up":1,"haryana":2,"punjab":3,"jammu":4}

In [26]:
list[0]=10

In [28]:
list

[10, 2, 'yuvraj', 2.4, ['a', 'b', 'c']]

In [29]:
tuple[0]=10

TypeError: 'tuple' object does not support item assignment

In [30]:
set[0]=10

TypeError: 'set' object does not support item assignment

In [31]:
dict['up']=2

In [32]:
dict['up']

2

#### Strings
##### Strings are Arrays. Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

In [35]:
name= "yuvraj"

In [36]:
name[0] # 0 index is the first element of the string

'y'

In [37]:
len(name)

6

In [38]:
name[-2]

'a'

In [40]:
multi_line_string= '''this is line 1
                    this is line 2
                    this is line 3'''

In [41]:
print(multi_line_string)

this is line 1
                    this is line 2
                    this is line 3

In [42]:
print("Hot\nCold")

Hot
Cold

In [43]:
print("Hot\tCold")

Hot	Cold

In [44]:
name[0]='h'

TypeError: 'str' object does not support item assignment

#### Traversing a string

In [ ]:
for i in name:
    print(i)

y
u
v
r
a
j

In [45]:
'save'+' Earth'+' day'

'save Earth day'

In [47]:
print(3*"\n hello") #repitition

 hello
 hello
 hello

In [49]:
for i in range(5):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [50]:
lambda=3

SyntaxError: invalid syntax (ipython-input-50-208485329.py, line 1)

In [51]:
for=3

SyntaxError: invalid syntax (ipython-input-51-879097777.py, line 1)

False

#### Membership operator
##### In Python, in and not in are the membership operators that are used to test whether a value or variable is in a sequence.

In [54]:
A= "Save Earth"  #True if value is found in the sequence
print("Save " in A) #True if value is not found in the sequence

True

In [55]:
"Save" not in A

False

#### range() function
###### The range() function in Python generates a sequence of numbers. It is commonly used in loops to iterate a specific number of times or to access elements in a sequence using their indices.

In [59]:
for i in range(2):  # range(start, end,step )
    print(A[i])

S
a

#### Slicing
###### Slicing in Python is a powerful technique for extracting portions of sequences like strings, lists, and tuples. It uses the bracket notation [start:end:step] to specify the desired section.

In [63]:
# A= "Save Earth"
A[2:7] # start, end

've Ea'

In [65]:
A[2:7:3] # start, end , step

'vE'

In [ ]:
# Save Earth
A[3:]  # end value is length of the variable which is 10

'e Earth'

In [66]:
# A= "Save Earth"
A[:3]

'Sav'

In [67]:
A[-2:]

'th'

In [68]:
A[:-2]

'Save Ear'

In [ ]:
A[::-1]

'htraE evaS'

#### len()
###### The len() function in Python is a built-in function used to determine the length of an object. It returns an integer representing the number of items in the object.

In [ ]:
A= "Save Earth"

In [ ]:
len(A)     # output: 10

10

In [ ]:
A.capitalize()    # output: Save earth

'Save earth'

In [ ]:
A.find('E') # output:3

5

In [ ]:
A.find('e',4) # output: 5

-1

In [ ]:
A.find('a', 3,7)

6

In [ ]:
# Save Earth
A.isalnum() # it will print true if it contains both alphabet and digit

False

In [ ]:
# Save Earth
A.isdigit()

False

In [ ]:
A.islower() # it will print true if string is in lowercase

False

In [ ]:
A.isupper() # it will print true if string is in uppercase

False

In [ ]:
A.lower() # it convert the string into lowercase

'save earth'

In [ ]:
A.upper() # it convert the string into uppercae

'SAVE EARTH'

#### lstrip
###### The lstrip() method in Python is used to remove leading characters from a string. It returns a new string with the specified characters removed from the beginning of the original string, without modifying the original string.

In [ ]:
# Save Earth
b=A.lstrip()

In [ ]:
b

'Save Earth'

In [ ]:
B= 'Teach India Movement'
B.lstrip('T')

'each India Movement'

In [ ]:
B

'Teach India Movement'

In [ ]:
c= B.rstrip('t')

'Teach India Movemen'

In [ ]:
# Teach India Movement
B.isspace() # it will print true if it have only white space otherwise false if it have one character

False

In [ ]:
print(B)

Teach India Movement

In [ ]:
A.isspace() # it will print

False

In [ ]:
# Teach India Movement
B.istitle()

True

In [ ]:
# Teach India Movement
B.replace('a','')   # replace remove old charater with new character

'Tech Indi Movement'

In [ ]:
B.replace('a', '$')

'Te$ch Indi$ Movement'

####

#### join()
###### 1) The join() method takes all items in an iterable and joins them into one string.
###### 2) A string must be specified as the separator.

In [ ]:
tup = ('jan','feb','mar')
d= '&'.join(tup)

In [ ]:
d

'jan&feb&mar'

In [ ]:
type(d)

str

In [ ]:
d.replace('&','')

'janfebmar'

In [ ]:
tup

('jan', 'feb', 'mar')

In [ ]:
# Save Earth
A.swapcase()   # it will swap all case in the string

'sAVE eARTH'

#### partition()
###### The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

###### The first element contains the part before the specified string.
###### The second element contains the specified string.
###### The third element contains the part after the string.

In [ ]:
E= 'The Green Revolution'
E.partition('G')

('The ', 'G', 'reen Revolution')

#### split()
###### The split() method splits a string into a list.
###### You can specify the separator, default separator is any whitespace.

In [ ]:
# The Green Revolution
E.split() # by default seperator is whitespace

['The', 'Green', 'Revolution']

In [ ]:
E.split('e')

['Th', ' Gr', '', 'n R', 'volution']

In [ ]:
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [ ]:
import string

uppercase_letters = string.ascii_uppercase
print(uppercase_letters) # Output: ABCDEFGHIJKLMNOPQRSTUVWXYZ

ABCDEFGHIJKLMNOPQRSTUVWXYZ

##### print the grade of the student according to given marks
###### grade A  if marks >85
###### grade B  if marks >70 and marks<=85
###### grade C  if marks >60 and marks<=70
###### grade D  if marks >45 and marks<=60
###### grade F  if marks<=45

In [ ]:
marks= int(input("Enter the number"))

if marks >85:
    print("Grade A")
elif marks >=70 :
    print("Grade B")
elif marks >=60 :
    print("Grade C")
elif marks >=45 :
    print("Grade D")
else:
    print("Grade F")

Enter the number 85

Grade B

#### Nested Condition()
###### It is possible to have a condition within another condition. Such conditions are known as Nested Condition.

In [ ]:
x=10
y=10
if x==y:
    print(x, " is equal to ", y)
else:
    if x<y:
        print(x, " is less than ", y)
    else:
        print(x, "is greater than ", y)

10  is equal to  10

#### loops
###### Loops or Iteration Statements in Programming are helpful when we need a specific task in repetition.
###### types of loop
###### 1) for
###### 2) while

In [ ]:
count=0                         # output: 0 1 2 3 4 5 6 7 8 9 10
while count<=10:
    print("count is ", count)
    count+=1

count is  0
count is  1
count is  2
count is  3
count is  4
count is  5
count is  6
count is  7
count is  8
count is  9
count is  10

In [ ]:
count=0                         # output: 0 1 2 3 4 5 6 7 8 9 10
while count<=10:
    print("count is ", count)
    count+=1
else:
    print("coming out of loop")

count is  0
count is  1
count is  2
count is  3
count is  4
count is  5
count is  6
count is  7
count is  8
count is  9
count is  10
coming out of loop

#### for loop
###### A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

###### This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

###### With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
for i in range(1,10): # start=1, end= 9 which is n-1
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in 'Python':
    print(i)

P
y
t
h
o
n

##### nested loop
###### A for statement can contain another for statement or while statement. Such statement form nested loop.!

In [ ]:
# to print table starting from 1 to specified no.
n=2
for i in range (1, 6):
	j=1
	print ("Table to ", i, "is as follows")
	while j <6:
		print (i, "*", j, "=", i*j)
		j=j+1
		print()

Table to  1 is as follows
1 * 1 = 1

1 * 2 = 2

1 * 3 = 3

1 * 4 = 4

1 * 5 = 5

Table to  2 is as follows
2 * 1 = 2

2 * 2 = 4

2 * 3 = 6

2 * 4 = 8

2 * 5 = 10

Table to  3 is as follows
3 * 1 = 3

3 * 2 = 6

3 * 3 = 9

3 * 4 = 12

3 * 5 = 15

Table to  4 is as follows
4 * 1 = 4

4 * 2 = 8

4 * 3 = 12

4 * 4 = 16

4 * 5 = 20

Table to  5 is as follows
5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

###### Break can be used to unconditionally jump out of the loop. It terminates the execution of the loop. Break can be used in while loop and for loop. Break is mostly required, when because of some external condition, we need to exit from a loop.

In [ ]:
for letter in 'Python':
	if letter == 'h':
		break
	print(letter)

P
y
t

##### Continue Statement
###### This statement is used to tell Python to skip the rest of the statements of the current loop block and to move to next iteration, of the loop. Continue will return back the control to the start of the loop. This can also be used with both while and for statement

In [ ]:
for letter in 'Python':
	if letter == 'h':
		continue
	print(letter)

P
y
t
o
n

#### Linear Search

In [ ]:
L1 = [1,2,3,4,5]
target=10
flag= False
for i in range(len(L1)):
    if target== L1[i]:        # 0 1 2
        flag=True
        print(target, " is found at ", i, " position")

if not flag:
    print("Target is not found")

Target is not found

In [ ]:
# Assigment 3 solutions

##### 5) Compress a string by replacing repeated characters with the character and count. Example:
##### "aaabbc"  "a3b2c1". If compressed string isnt shorter, return original.

In [ ]:
s = "aaaaaabbc"
compressed = ""
i = 0
while i < len(s):
    count = 1
    while i + 1 < len(s) and s[i] == s[i + 1]:
        count += 1
        i += 1
    compressed += s[i] + str(count)
    i += 1

if len(compressed) < len(s):
     print(compressed)
else:
     print(s)

a6b2c1

###### 7) Given a string containing only '(', ')', '{', '}', '[', ']', check if the sequence is valid (properly nested and closed). Example: "({[]})"  "Valid", "(]"  "Invalid".

In [ ]:
x=input("Enter a string: ") # {[()]}  # output: valid

s=[]
dict={')':'(', ']':'[','}':'{' }    # i = }
valid=True
                                            # { {
for i in x:
  if i in '([{':
    s.append(i)
  elif i in ')]}':
    if not s or s[-1] != dict[i]:   # ( ( [ [
      valid= False
      break
    s.pop()

if s:
  valid =False

print("Valid" if valid else "Invalid")

Enter a string:  {[()]}

Valid

#### Dictionary
##### Dictionary items are ordered, changeable, and do not allow duplicates.
##### Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
##### Dictionaries are written with curly brackets, and have keys and values:

##### creating a dictionary

In [ ]:
playlist= { "song1": "Bohemian Rhapsody",
           "artist1": "Queen",
           "duration1": 5.55,
           "song2": "imagine",
            "artist2": "John Lennon",
           "duration2": 3.03
          }

##### Accessing a dictionary

In [ ]:
print("First song", playlist["song1"])   #output:

First song Bohemian Rhapsody

##### changing dictionary items

In [ ]:
playlist['duration1']= 6
print("Change duration is", playlist['duration1'])

Change duration is 6

##### changing dictionary items

In [ ]:
print("Adding new item")
playlist['song3']= "Hotel california"
print(playlist['song3'])

Adding new item
Hotel california

##### removing an item

In [ ]:
playlist.pop("duration2")

3.03

#### Traversing a dictionary

In [ ]:
for i in playlist:
    print(i)

song1
artist1
duration1
song2
artist2
song3

##### values()
###### The values() method returns a view object. The view object contains the values of the dictionary, as a list.

In [ ]:
for i in playlist.values():
    print(i)

Bohemian Rhapsody
Queen
6
imagine
John Lennon
Hotel california

##### keys()
###### The keys() method returns a view object. The view object contains the keys of the dictionary, as a list.

In [ ]:
for i in playlist.keys():
    print(i)

song1
artist1
duration1
song2
artist2
song3

#### items()
##### The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

##### The view object will reflect any changes done to the dictionary, see example below.

In [ ]:
for i in playlist.items():
    print(i)

('song1', 'Bohemian Rhapsody')
('artist1', 'Queen')
('duration1', 6)
('song2', 'imagine')
('artist2', 'John Lennon')
('song3', 'Hotel california')

#### Nested Dictionary
##### A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
music_library= {

    "track1": {'song':'never give up', 'artist':'yuvraj', 'duration': 4.5},
    "track2": {'song':'never fall down', 'artist':'Sachin', 'duration': 5.5},
    "track3": {'song':'Sorry', 'artist':'Pranav', 'duration': 6.5}
}

In [ ]:
for i in music_library:
    print(music_library[i])

{'song': 'never give up', 'artist': 'yuvraj', 'duration': 4.5}
{'song': 'never fall down', 'artist': 'Sachin', 'duration': 5.5}
{'song': 'Sorry', 'artist': 'Pranav', 'duration': 6.5}

In [ ]:
for x,y in music_library.items():

AttributeError: 'str' object has no attribute 'values'

In [ ]:
for x,y in playlist.items():
    print("key is ", x, " value is ", y)

key is  song1  value is  Bohemian Rhapsody
key is  artist1  value is  Queen
key is  duration1  value is  6
key is  song2  value is  imagine
key is  artist2  value is  John Lennon
key is  song3  value is  Hotel california

##### Access an items in a dictionary

In [ ]:
music_library['track1']['song']

'never give up'

In [ ]:
music_library['track1']

{'song': 'never give up', 'artist': 'yuvraj', 'duration': 4.5}

In [ ]:
playlist2= playlist.copy()

In [ ]:
playlist2

{'song1': 'Bohemian Rhapsody',
 'artist1': 'Queen',
 'duration1': 5.55,
 'song2': 'imagine',
 'artist2': 'John Lennon',
 'duration2': 3.03}

In [ ]:
for i in playlist2.items():
    print(i)

('song1', 'Bohemian Rhapsody')
('artist1', 'Queen')
('duration1', 6)
('song2', 'imagine')
('artist2', 'John Lennon')
('song3', 'Hotel california')

##### get()
###### The get() method returns the value of the item with the specified key.
###### dictionary.get(keyname, value)

In [ ]:
print(playlist.get('song1'))

Bohemian Rhapsody

##### dictionary methods
###### clear()	Removes all the elements from the dictionary
###### copy()	Returns a copy of the dictionary
###### fromkeys()	Returns a dictionary with the specified keys and value
###### get()	Returns the value of the specified key
###### items()	Returns a list containing a tuple for each key value pair
###### keys()	Returns a list containing the dictionary's keys
###### pop()	Removes the element with the specified key
###### popitem()	Removes the last inserted key-value pair
###### setdefault()	Returns the value of the specified key. If the key does not exist: ###### insert the key, with the specified value
###### update()	Updates the dictionary with the specified key-value pairs
###### values()	Returns a list of all the values in the dictionary

In [ ]:
playlist.clear()

In [ ]:
playlist

{}

In [ ]:
playlist2

{'song1': 'Bohemian Rhapsody',
 'artist1': 'Queen',
 'duration1': 6,
 'song2': 'imagine',
 'artist2': 'John Lennon',
 'song3': 'Hotel california'}

{'a': 1, 'b': [2, 3, 4]}
{'a': 4, 'b': [2, 3, 4]}

#### fromkeys()
##### syntax  fromkeys(keys, value)
###### The fromkeys() method is used to create a new dictionary from a sequence of keys. It is a class method of the dictionary class, meaning it is called using dict.fromkeys().

In [ ]:
list= ['Sachin', 'yuvraj', 'Dhoni']
player= dict.fromkeys(list, 100)   # sequence, value
player

{'Sachin': 100, 'yuvraj': 100, 'Dhoni': 100}

In [ ]:
player.popitem()

('Dhoni', 100)

In [ ]:
player

{'Sachin': 100, 'yuvraj': 100}

##### setdefault
###### The setdefault() method returns the value of the item with the specified key.
###### If the key does not exist, insert the key, with the specified value, see example below

In [ ]:
player.setdefault('Ashish nehra', 50)

50

In [ ]:
player.setdefault('yuvraj', 50)

100

In [ ]:
player

{'Sachin': 100, 'yuvraj': 100, 'Kohli': None, 'Ashish nehra': 50}

In [ ]:
player.setdefault('Dhoni',500)

500

In [ ]:
player

{'Sachin': 100, 'yuvraj': 100, 'Kohli': None, 'Ashish nehra': 50, 'Dhoni': 500}

In [ ]:
# update
player.update({'Ashwin':50})

In [ ]:
player

{'Sachin': 100,
 'yuvraj': 100,
 'Kohli': None,
 'Ashish nehra': 50,
 'Dhoni': 500,
 'Ashwin': 50}

In [ ]:
dict1= {1:'a',2:'b',3:'c',4:'d'}
dict2= {5:'e',6:'f',7:'g',8:'h'}
# merge dict1 and dict2
dict3= dict1 | dict2
dict3

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g', 8: 'h'}

In [ ]:
dict1.update(dict2)

In [ ]:
dict1

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g', 8: 'h'}

#### Tuples
##### Tuples are used to store multiple items in a single variable.

##### Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

##### A tuple is a collection which is ordered and unchangeable.

##### Tuples are written with round brackets.

In [ ]:
tuple= (1,2.5,'Delhi', [3,5,6],1)

In [ ]:
tuple[0] # return first item

1

In [ ]:
tuple[0]=4   #it does not support item assigment because it is immutable

TypeError: 'tuple' object does not support item assignment

##### When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
##### But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
a,b,c,d,e= tuple

In [ ]:
print(a,b,c,d,e)

1 2.5 Delhi [3, 5, 6] 1

In [ ]:
for i in tuple:
    print(i)

1
2.5
Delhi
[3, 5, 6]
1

In [ ]:
tuple2= ('apple','banana','orange')

In [ ]:
tuple3= tuple+tuple2   # join operator

In [ ]:
tuple3

(1, 2.5, 'Delhi', [3, 5, 6], 1, 'apple', 'banana', 'orange')

In [ ]:
tuple4= tuple*3

In [ ]:
tuple4

(1,
 2.5,
 'Delhi',
 [3, 5, 6],
 1,
 1,
 2.5,
 'Delhi',
 [3, 5, 6],
 1,
 1,
 2.5,
 'Delhi',
 [3, 5, 6],
 1)

In [ ]:
# count function return the number of times the specified values occurs in the tuple
tuple.count(1)

2

In [ ]:
tuple3.count('apple')

1

In [ ]:
# index function is return the position of the specified value
tuple3.index(1)

0

#### Set
##### Sets are used to store multiple items in a single variable.

##### Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

##### A set is a collection which is unordered, unchangeable*, and unindexed.
##### Sets cannot have two items with the same value.

##### * Note: Set items are unchangeable, but you can remove items and add new items.

In [ ]:
set1= {"apple", "banana", "orange", 1 ,2.5, (1,4),1}

In [ ]:
# access set item using for loop
for i in set1:
    print(i)

1
banana
2.5
orange
(1, 4)
apple

In [ ]:
set1

{(1, 4), 1, 2.5, 'apple', 'banana', 'orange'}

In [ ]:
# access set item using membership operator "in"
'apple' in set1

True

In [ ]:
set1.add('kiwi')

In [ ]:
set1

{(1, 4), 1, 2.5, 'apple', 'banana', 'kiwi', 'orange'}

In [ ]:
set2= {7,9.5,'strawberry'}

In [ ]:
set2

{7, 9.5, 'strawberry'}

In [ ]:
set1.update(set2)

In [ ]:
set1

{(1, 4), 1, 2.5, 7, 9.5, 'apple', 'banana', 'kiwi', 'orange', 'strawberry'}

In [ ]:
set1.remove(1)

In [ ]:
set1

{(1, 4), 2.5, 7, 9.5, 'apple', 'banana', 'kiwi', 'orange', 'strawberry'}

In [ ]:
set1.remove((1,4))

In [ ]:
set1

{2.5, 7, 9.5, 'apple', 'banana', 'kiwi', 'orange', 'strawberry'}

In [ ]:
set1.pop()

'banana'

In [ ]:
# traverse a set
for i in set1:
    print(i)

2.5
7
9.5
orange
apple
strawberry
kiwi

#### union()
##### The union() method returns a new set with all items from both sets.

In [ ]:
set1

{2.5, 7, 9.5, 'apple', 'kiwi', 'orange', 'strawberry'}

In [ ]:
set2

{7, 9.5, 'strawberry'}

In [ ]:
set1.union(set2)

{2.5, 7, 9.5, 'apple', 'kiwi', 'orange', 'strawberry'}

In [ ]:
set1 | set2

{2.5, 7, 9.5, 'apple', 'kiwi', 'orange', 'strawberry'}

In [ ]:
set3= {'sachin','yuvraj','dhoni'}

In [ ]:
# Join multiple sets with the union() method:
set1.union(set2,set3)

{2.5,
 7,
 9.5,
 'apple',
 'dhoni',
 'kiwi',
 'orange',
 'sachin',
 'strawberry',
 'yuvraj'}

#### Intersection
##### Keep ONLY the duplicates

##### The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
set1.intersection(set2)

{7, 9.5, 'strawberry'}

In [ ]:
set1 & set2

{7, 9.5, 'strawberry'}

#### Difference
##### The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [ ]:
set1

{2.5, 7, 9.5, 'apple', 'kiwi', 'orange', 'strawberry'}

In [ ]:
set2

{7, 9.5, 'strawberry'}

In [ ]:
set1.difference(set2)   #output:

{2.5, 'apple', 'kiwi', 'orange'}

In [ ]:
set1-set2

{2.5, 'apple', 'kiwi', 'orange'}

##### Use the difference_update() method to keep the items that are not present in both sets

In [ ]:
set1

{2.5, 7, 9.5, 'apple', 'kiwi', 'orange', 'strawberry'}

In [ ]:
set2

{7, 9.5, 'strawberry'}

In [ ]:
set1.difference_update(set2)

In [ ]:
set1

{2.5, 'apple', 'kiwi', 'orange'}

In [ ]:
set1

{2.5, 'apple', 'kiwi', 'orange'}

##### The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [ ]:
set1

{(1, 4), 1, 2.5, 'apple', 'banana', 'orange'}

In [ ]:
set2

{7, 9.5, 'strawberry'}

In [ ]:
set1.symmetric_difference(set2)

{(1, 4), 1, 2.5, 7, 9.5, 'apple', 'banana', 'orange', 'strawberry'}

In [ ]:
set1 ^ set2

{(1, 4), 1, 2.5, 7, 9.5, 'apple', 'banana', 'orange', 'strawberry'}

#### Function
##### A function is a block of code which only runs when it is called.
##### You can pass data, known as parameters, into a function.
##### A function can return data as a result.

##### Creating a Function

In [ ]:
def my_function():
  print("hello world")

#### Calling a Function
##### To call a function, use the function name followed by parenthesis:

In [ ]:
my_function()

hello world

#### Arguments
##### Information can be passed into functions as arguments.

##### Arguments are specified after the function name, inside the parentheses.
##### You can add as many arguments as you want, just separate them with a comma.

##### The following example has a function with one argument (fname).
##### When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):  # fname is parameter
  print(fname)

my_function("Harsh")         # harsh is argument
my_function("Subham ")
my_function("Saurabh")

Harsh
Subham
Saurabh

##### Parameters or Arguments?
##### The terms parameter and argument can be used for the same thing: information that are passed into a function.

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Harsh")

TypeError: my_function() missing 1 required positional argument: 'lname'

#### Arbitrary Arguments, *args
##### If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

##### This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def my_function(*student):
  print("The youngest student is " + student[2])

my_function("Harsh", "Garv", "Kanishk")
#Arbitrary Arguments are often shortened to *arg

The youngest student is Kanishk

#### Keyword Arguments
##### You can also send arguments with the key = value syntax.
##### This way the order of the arguments does not matter.

In [ ]:
def my_function(student1, student2, student3):
  print("The youngest student is " + student3)

my_function(student1 = "Aayushi", student2 = "Mansi", student3 = "Harleen")

The youngest student is Harleen

#### Arbitrary Keyword Arguments, **kwargs
##### If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

##### This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:
def my_function(**student):
  print("His last name is " + student["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

#### Default Parameter Value
##### The following example shows how to use a default parameter value.

##### If we call the function without argument, it uses the default value:

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

#### Return Values
##### To let a function return a value, use the return statement:

In [ ]:
def my_function(x): #x=10
  return 5 * x

print(my_function(5))
print(my_function(10))
print(my_function(15))

25
50
75

#### Positional-Only Arguments
##### You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.
##### To specify that a function can have only positional arguments, add , / after the arguments:

In [ ]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [ ]:
# But when adding the , / you will get an error if you try to send a keyword argument:

def my_function(x, /):
  print(x)

my_function(x = 3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

#### Keyword-Only Arguments
##### To specify that a function can have only keyword arguments, add *, before the arguments:

In [ ]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

In [ ]:
def my_function(*, x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

#### Combine Positional-Only and Keyword-Only
##### You can combine the two argument types in the same function.

##### Any argument before the / , are positional-only, and any argument after the *, are keyword-only.

In [ ]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [ ]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(a=5, 6, c = 7, d = 8)

SyntaxError: positional argument follows keyword argument (733810880.py, line 4)

#### Lambda
##### A lambda function is a small anonymous function.
##### A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
# syntax
#lambda arguments : expression

In [ ]:
# lambda arguments : expression
# Add 10 to argument a, and return the result:

x = lambda a : a + 10
print(x(5))

15

In [ ]:
# Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

30

#### Why Use Lambda Functions?
##### The power of lambda is better shown when you use them as an anonymous function inside another function.

##### Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def myfunc(n):          #n=2
  return lambda a : a * n

temp = myfunc(2)

print(temp(11))

22

In [ ]:
#Create a program that takes a list of tuples (name, score) and builds a dictionary
#where each name is a key, and the value is a list of all their scores. Then calculate and print
#each person's average score.

In [ ]:
student= {"yukta":{"maths":50),"Science":50,"English":50,"Computer":50)},
          "Sahil":{"maths":50),"Science":50,"English":50,"Computer":50)},
          "Yuvraj":{"maths":50),"Science":50,"English":50,"Computer":50)},
          "Garv":{"maths":50),"Science":50,"English":50,"Computer":50)}}

In [ ]:
l=[("z",91),
   ("z",45),
   ("x",76),
   ("x",42),
   ("c",89),
   ("c",83),
   ("v",47),
   ("v",90)]

d={}   # d= {z:[91,45],x:[76,42],c:[89,83],v:[47,90]}

for i,j in l:
  if i in d:
    d[i].append(j)
  else:
    d[i]=[j]


for i,j in d.items():
    avg=sum(j)/len(j)
    print(f"{i}:{avg:.2f}")

z:68.00
x:59.00
c:86.00
v:68.50